@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: gray;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 15px;
    padding: 5px;
}
img {
    flex-basis: 225px;
}
.menu {
    display: flex;
    align-items: center;
}
ul, a {
    list-style-type: none;
    text-decoration: none;
}
ul li {
    display: inline-block;
    margin: 0 0.5em;
}

.menu a:link, .lista a:visited, .menu a:hover, .menu a:active {
    color: black;
}

.botones {
    display: flex;
    align-items: center;
}
.botones > a {
    color: white;
    background-color: gray;
    padding: 8px;
    margin: 0 0.5em;
}